

    <h1> Saiba mais sobre nós. </h1>

<div class="container">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>O que é o Plano A Projedos?</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    O(A) Plano B móveis e decorações é o seu melhor destino para encontrar artigos para o lar, e
                    crescemos cada dia mais. Nossa loja online é o melhor lugar para descobrir peças de decoração únicos
                    para o lar. Nossos clientes podem contar conosco para esperar o inesperado: somos divertidos,
                    dinâmicos e podemos dar aquele toque de personalidade à sua casa. Navegue pelo site e veja o que
                    temos para oferecer.
                </p>
            </mat-card-content>
        </mat-card>
 

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Fale Conosco</mat-card-title>
                <mat-card-subtitle>
                    Veja mais dos nossos trabalhos!
                </mat-card-subtitle>

            </mat-card-header>

            <mat-card-content>
                <p>
                    Mande um direct para tirar duvidas, estaremos aguardando anciosamente!!! </p>
            </mat-card-content>
        </mat-card>
    
        <br>
        
        <div class="icons">
            <a href="#" class="icon icon-instagram">
                <i class="ri-instagram-line"> </i>
            </a>
        
            <a href="#" class="icon icon-twitter">
                <i class="ri-twitter-line"> </i>
            </a>
        
            <a href="#" class="icon icon-linkedin">
                <i class="ri-linkedin-line"> </i>
            </a>
        
            <a href="#" class="icon icon-github">
                <i class="ri-github-line"> </i>
            </a>
        
        </div>

</div>



