<h1> Veja essas dicas incriveis sobre moveis planejados! </h1>
<div class="container ">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Escolha do material</mat-card-title>
      <mat-card-subtitle>
        Quais são os fatores essenciais para escolher o material para móveis planejados?
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Cada material utilizado para a produção dos móveis planejados contém características e particularidades
        que influenciam a qualidade final do produto. Por isso, é muito importante escolher com bastante cuidado
        quais matérias-primas farão parte da composição do projeto de mobília da sua casa. Os móveis planejados
        devem apresentar resistência ao tempo, durabilidade no manuseio, praticidade de uso e personalização de
        acordo com as necessidades do cliente. Para que o projeto atenda a essas exigências, é fundamental que
        os materiais sejam, portanto, muito bem escolhidos.

      </p>
    </mat-card-content>

    <mat-card-actions>

      <div class="container-fluid p-0">

        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Material1"
          aria-expanded="false" aria-controls="collapseExample">
          RESISTÊNCIA
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Material2"
          aria-expanded="false" aria-controls="collapseExample">
          DURABILIDADE
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Material3"
          aria-expanded="false" aria-controls="collapseExample">
          PRATICIDADE
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Material4"
          aria-expanded="false" aria-controls="collapseExample">
          GARANTIA
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Material5"
          aria-expanded="false" aria-controls="collapseExample">
          QUALIDADE
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Material6"
          aria-expanded="false" aria-controls="collapseExample">
          ACABAMENTO
        </button>


        <div class="collapse txt" id="Material1">
          RESISTÊNCIA:
          É fundamental que os móveis planejados sejam resistentes. A depender da função e do local de instalação da
          mobília, será necessário optar por um tipo de material com acabamento mais durável, como o MDP e MDF (que
          também pode ser usado em peças curvilíneas).
        </div>
        <div class="collapse txt" id="Material2">
          DURABILIDADE:
          Alguns móveis planejados, como gavetas, bancadas, prateleiras, entre outras superfícies, exigem um teste de
          durabilidade para avaliar o peso e a tração. Essa análise garante que o comprador receba mobílias de qualidade
          e com longa vida útil.
        </div>
        <div class="collapse txt" id="Material3">
          PRATICIDADE:
          Outro aspecto fundamental no momento de escolher o material para móveis planejados é a praticidade de uso.
          Existem matérias-primas que são mais adequadas para os diversos ambientes.
        </div>
        <div class="collapse txt" id="Material4">
          GARANTIA:
          Se o seu intuito é ter móveis planejados duráveis na sua casa, é essencial contar com uma garantia estendida
          do fornecedor. Para isso, será preciso considerar o custo-benefício do produto, em termos de qualidade e
          durabilidade.
        </div>
        <div class="collapse txt" id="Material5">
          QUALIDADE:
          A qualidade da matéria-prima utilizada nos móveis é de extrema importância. Em geral, na fabricação dos
          produtos, os fornecedores dão preferência a materiais compostos de fibras ou partículas de madeira prensadas
          em altas temperaturas com uma combinação de resinas para manter a resistência e a qualidade final da peça.
        </div>
        <div class="collapse txt" id="Material6">
          ACABAMENTO:
          O acabamento dos móveis é mais um aspecto que deve ser considerado antes de realizar o investimento. Mesmo que
          alguns produtos sejam feitos artesanalmente ou produzidos em larga escala, eles devem sempre contar com
          materiais de alto padrão e qualidade.</div>
      </div>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Acabamento de seu Planejado</mat-card-title>
      <mat-card-subtitle>
        6 dicas para escolher o acabamento perfeito para móveis planejados
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Para que o projeto atenda a todas essas exigências, é preciso que os materiais dos móveis planejados
        sejam bem escolhidos. Há uma grande variedade de acabamentos para móveis que ajudam a dar mais vida e
        beleza a um ambiente. As opções são muitas e vão do revestimento em pintura até laminados que imitam
        madeira. Conhecer os tipos disponíveis é uma forma de facilitar na hora de escolher os móveis da sua
        casa. E essa prática também ajuda a definir o projeto e o estilo da decoração.

      </p>
    </mat-card-content>

    <mat-card-actions>

      <div class="container-fluid p-0">

        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Acabamento1"
          aria-expanded="false" aria-controls="collapseExample">
          ACRILATO
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Acabamento2"
          aria-expanded="false" aria-controls="collapseExample">
          VIDRO
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Acabamento3"
          aria-expanded="false" aria-controls="collapseExample">
          LÂMINA DE MADEIRA NATURAL
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Acabamento4"
          aria-expanded="false" aria-controls="collapseExample">
          FINISH FOIL
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Acabamento5"
          aria-expanded="false" aria-controls="collapseExample">
          LAMINADOS
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Acabamento6"
          aria-expanded="false" aria-controls="collapseExample">
          LACA
        </button>


        <div class="collapse txt" id="Acabamento1">
          ACRILATO:
          Talvez você já conheça esse acabamento para móveis, já que ele é popularmente chamado de acrílico. É um
          material leve e barato, diferente do que ocorre com o vidro. Além disso, ele traz o mesmo efeito visual que
          seu “primo” mais sofisticado.
          O acrilato é encontrado em diversas cores, o que possibilita muitas combinações, também é uma forma de ter
          aquele móvel colorido que é o desejo de muitos. Normalmente, o acrílico é utilizado para as portas em móveis
          planejados. Sua espessura é variável, a partir de 3mm até 10mm, a depender da finalidade e do tamanho de onde
          será usado.

        </div>
        <div class="collapse txt" id="Acabamento2">
          VIDRO:
          O vidro é um acabamento bastante utilizado, embora seja um pouco mais caro que o acrilato. É muito comum
          encontrá-lo nas portas ou gavetas dos móveis planejados. Além disso, é um dos queridinhos de quem cuida da
          casa por ser fácil de limpar. Esse acabamento para móveis não risca e não exige muito para a limpeza.
          Além disso, é um material muito versátil no acabamento. O vidro pode ser encontrado em diversos formatos, com
          cores e estampas variadas. Você pode optar pelo acabamento fosco, brilhante ou espelhado, esse último é ótimo
          para quem deseja ampliar o ambiente.

        </div>
        <div class="collapse txt" id="Acabamento3">
          LÂMINA DE MADEIRA NATURAL:
          Esse material tem como base a lâmina da própria madeira, normalmente as nobres. A matéria-prima pode ser
          nacional ou importada. A lâmina de madeira é pouco utilizada como acabamento para móveis por ter uma aplicação
          complexa. O material exige instalação artesanal, por isso é necessário conhecimentos técnicos para tal
          atividade, o que não é tão aproveitado por lojas de móveis.
        </div>
        <div class="collapse txt" id="Acabamento4">
          FINISH FOIL:
          Conhecido como FF, é um material feito à base de papel em rotogravura ou flexogravura. Não é muito comum como
          acabamento para móveis planejados, mas é encontrado com facilidade nos modelos já prontos.
          Por ser um acabamento mais acessível, o finish foil não alcança um nível de brilho alto. Para que ele fique
          brilhante, é necessário envernizá-lo após a prensagem do papel à chapa de madeira.

        </div>
        <div class="collapse txt" id="Acabamento5">
          LAMINADOS:
          Há dois tipos de acabamentos laminados: de baixa ou alta pressão. A diferença entre ambos está na resistência
          do material. O laminado de alta pressão é conhecido como fórmica, que é uma marca famosa desse material. Ele é
          utilizado em larga escala como revestimento para móveis, uma vez que tem resistência à abrasão e impactos.
          Como acabamento é bastante comum o uso em móveis para cozinha e banheiro. É um material versátil que pode
          lembrar pedra, metal e a própria madeira. Já o de baixa pressão é um material mais fraco, considerado de média
          resistência, isso porque esse acabamento para móveis recebe apenas uma resina como forma de proteção e é mais
          utilizado para a confecção de caixas para os móveis ou tampos de gavetas e mesas.

        </div>
        <div class="collapse txt" id="Acabamento6">
          LACA:
          A laca é um dos acabamentos mais bonitos do mercado e também um dos mais sofisticados. Esse acabamento para
          móveis passa por um processo detalhado, próximo ao da pintura automotiva. São várias etapas de pintura e
          polimento para que ele tenha o resultado laqueado e uma superfície lisa e uniforme, sem qualquer tipo de
          mancha.
          A laca é um acabamento muito delicado e de baixo impacto. Infelizmente, risca fácil. Neste caso, ele é mais
          comum em móveis pouco usados em casa, como as cômodas. Também não é indicado o uso próximo a bancadas ou onde
          possa haver impactos que o danifiquem.
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<img src="/assets/imagens/dicas_mdf_x_mdp.jpg" alt="Imagem de Comparacao MDF e MDF">

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Reutilize</mat-card-title>
      <mat-card-subtitle>
        As principais vantagens da reutilização de pallets para sua casa
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Com alta resistência e durabilidade é cada vez mais comum os pallets serem usados como móveis na sala
        de estar, quarto e até nas áreas externas, deixando os ambientes belos e funcionais.
      </p>
    </mat-card-content>
    <mat-card-actions>

      <div class="container-fluid p-0">

        <button class="btn btn-primary margem " type="button" data-bs-toggle="collapse" data-bs-target="#Pallet1"
          aria-expanded="false" aria-controls="collapseExample">
          FACILIDADE
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Pallet2"
          aria-expanded="false" aria-controls="collapseExample">
          VERSATILIDADE
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Pallet3"
          aria-expanded="false" aria-controls="collapseExample">
          LÂMINA DE MADEIRA NATURAL
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Pallet4"
          aria-expanded="false" aria-controls="collapseExample">
          FINISH FOIL
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Pallet5"
          aria-expanded="false" aria-controls="collapseExample">
          LAMINADOS
        </button>
        <button class="btn btn-primary margem" type="button" data-bs-toggle="collapse" data-bs-target="#Pallet6"
          aria-expanded="false" aria-controls="collapseExample">
          LACA
        </button>


        <div class="collapse txt" id="Pallet1">
          FACILIDADE:
          Uma das principais qualidades dos pallets é a fácil criação de móveis e acessórios, devido ao reaproveitamento
          desses objetos.
          Isso porque o estrado pode ser empilhado em dois ou três pallets, formando uma fila para fazer mesas e sofás
          de pallet de madeira. Após isso, basta colocar almofadas e colchões para utilizá-lo normalmente.


        </div>
        <div class="collapse txt" id="Pallet2">
          VERSATILIDADE:
          Outra grande característica do pallet para utilizar em móveis é a sua versatilidade. Isso porque é possível
          criar inúmeros móveis para sala, quarto, cozinha e áreas externas.
          Sua flexibilidade é semelhante aos legos, podendo montar ou desmontar um sofá de pallet para transformá-la em
          uma cama. Elas também podem ser úteis para fabricação de mesas e cadeiras.


        </div>
        <div class="collapse txt" id="Pallet3">
          DURABILIDADE:
          Os móveis de pallet em áreas internas garantem grande durabilidade, deixando os moradores despreocupados na
          compra de nova mobília. Porém, nos ambientes externos, esses estrados merecem mais atenção.
          Por causa da umidade, o pallet pode sofrer com a deterioração com o passar do tempo. Por isso, existem
          tratamentos impermeabilizantes que aumentam a resistência da madeira com a água, garantindo mais resistência
          ao material.


        </div>
        <div class="collapse txt" id="Pallet4">
          DECORAÇÃO NATURAL:
          Seja no estado natural, seja pintado com cores vivas os pallets de madeira deixam o ambiente com um visual
          natural, deixando sua casa mais próxima da natureza.
          Além disso, ele pode ser útil no estilo de decoração rústico, que preza por móveis e acessórios que estejam em
          estado mais natural possível, dando um toque de campo na sua residência, com conforto e aconchego.


        </div>
        <div class="collapse txt" id="Pallet5">
          CUSTO-BENEFICIO:
          Uma das principais qualidades dos pallets para colocar em móveis é o seu baixíssimo custo. É possível pegar
          estrados em bom estado de conservação gratuitamente de pessoas que não usam mais, ou de locais que oferecem
          pallets reciclados.
          Por não ter custos de aquisição, basta adquirir os estofados (para sofás), colchões (para camas) e tampos de
          vidro (para mesas) para criar esses móveis, tornando os móveis de estrados muito mais acessíveis que a mobília
          de uma loja.

        </div>
      </div>
    </mat-card-actions>

  </mat-card>
</div>