<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Lista de Usuários</h1>
        <button class="btn btn-success mb-4 float-end" routerLink="./forms"> Cadastrar Usuário</button>
    <table class="table">
        <thead>
            <tr>
                <th>ID: </th>
                <th>NOME: </th>
                <th>IDADE: </th>
                <th>PROFISSÃO: </th>
                <th colspan="2"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Cias Tec</th>
                <th>2</th>
                <th>Dev</th>
                <th>
                    <button class="btn btn-primary">Editar</button>
                </th>
                <th>
                    <button class="btn btn-danger">Excluir</button>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
</div>
